<div class="dkp-footer">
<!-- Footer -->
<footer class="page-footer font-small text-light bg-dark">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="p-5">
          <div class="d-flex justify-content-center">
  
            <!-- Facebook -->
            
            <!-- Twitter -->
            
            <!-- Google +-->
     
            <!--Linkedin -->
            
            <!--Instagram-->
            
            <!--GitHub-->
           
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: black;">© 2021 Copyright:
      <a routerLink="/"> Anshu Upadhyay</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->
</div>
